# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# VSCode
.vscode/


nul
# artifacts
public/viewer.zip
**/*.zip

# --- generated distro copies (DO NOT COMMIT) ---
apps/site/public/viewer/**
!apps/site/public/viewer/.gitkeep

apps/site/public/3dss/3dss/release/3DSS.schema.json

